div.code-block-caption {
    text-align: right;
    font-weight: 700;
}

div.admonition-recommended {
    background-color: #c3d6aa;
    padding-left: 10;
}

div.admonition-recommended>p.admonition-title {
    font-family: Tahoma, serif;
    color: #092b6d;
    font-style: normal;
}

div.admonition-recommended>p {
    padding-left: 20px;
    text-indent: 10px;
    font-style: italic;
}

div.body {
    width: 1200px;
}

p.book-issue-filename {
    font-size: 12px;
    font-weight: 700;
}

p.book-file-component {
    text-align: right;
    font-size: 14px;
    font-weight: 700;
}